# Database Configuration
DB_HOST=localhost
DB_PORT=3306
DB_NAME=smart_air_desa
DB_USER=root
DB_PASS=

# Production Credentials (Hostinger/Vercel)
# DB_HOST=153.92.15.84
# DB_PORT=3306
# DB_NAME=u915147866_db_hippams
# DB_USER=u915147866_hippams
# DB_PASS=Hippams2026!
